<ion-header>
  <ion-navbar>
    <ion-title>
      My records page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  	<div *ngFor = "let record of records; let i = index">
  		<span>{{i + 1}}) {{record.prize | numberFormatter}}</span>
  		<span float-right>{{record.date}}</span> 
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	<div class="my-records-message" *ngIf="records && !records.length">
  		<br>
  		Ви ще не виграли нич:(
  	</div>
  	
</ion-content>
