<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Питання на {{level.price}}
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <div class="help-desk">
    <div class="refresh help-btn left" [ngClass]="{'disabled': states.changeQuestion}" (click)="changeQuestion()">
      <ion-icon name="md-refresh"></ion-icon>
    </div>  
    <div class="people help-btn left" [ngClass]="{'disabled': states.peoplesHelp}" (click)="peoplesHelp()">
        <ion-icon name="md-people"></ion-icon>
    </div>
    <div class="help-btn left fifty-fifty" [ngClass]="{'disabled': states.fiftyFifty}" (click)="fiftyFifty()" style="float: left; height: 50px; width: 50px; text-align: center; ">
      <div>50</div>
      <div>50</div>
    </div>
    <div class="help-btn right check-stage-button" (click)="callInfoModal()">
      <ion-icon name="logo-usd"></ion-icon>
    </div>
  </div>
  <div class="image-wrapper" *ngIf="question && question.img" style="background-image: url('assets/imgs/story-images/story1/1.jpg')"></div>
  <br>
  <div class="question-wrapper" *ngIf="question && question.q">
    <div class="question-title-wrapper">
      <div class="question-title">Питання на&nbsp;{{level.price | numberFormatter}}</div>
    </div>
    <div class="question-text">{{question.q}}</div>
  </div>
  <ion-footer>
    <div *ngFor="let option of options; let i = index">
      <button class="option button-large button-full secondary-button" [ngClass]="{'clicked': option.clicked, 'correct': option.selected && option.correct, 'incorrect': option.selected && !option.correct, 'disabled': option.disabled}" (click)="chooseOption(option)"><b>{{letters[i]}}.</b> {{option.txt}}</button>
    </div>
	</ion-footer>
</ion-content>
