@import "../../helpers/styles/mixins.scss";

scene {
	.help-desk {
		height: 80px;
		table {
			margin: auto;
			td {
				padding: 10px;
				.cell-wrapper {
					@extend %custom-block-view;
					width: 100%;
					height: 72px;
					border: 1px solid black;
					display: inline-block;
					padding: 10px;
					&.disabled {
						opacity: 0.2;
					}
				}
			}
		}
		.fifty-fifty div {
			height: 25px;
			font-size: 25px;
			font-weight: bold;
			line-height: 25px;
		}
		.fifty-fifty div:nth-child(1) {
			border-bottom: 1px solid;
		}
	}
	.image-wrapper {
	    text-align: center;
	    max-width: 100%;
	    height: 200px;
	    background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	}
	.question-wrapper {
		height: 200px;
		display: table;
		width: 100%;
		text-align: center;
		position: relative;
		font-size: 20px;
		div {
			display: table-cell;
    		vertical-align: middle;
		}
	}
	ion-footer {
		padding: 16px;
		.option {
			@extend %custom-block-view;
		    margin-top: 10px;
		    contain: none;
		    font-size: 18px;
		    text-align: left;
		    padding: 14px;
		    background-color: white;
		    color: black;
		    border: 1px solid #adadad;
		    &.clicked {
		    	background-color: lightgrey;
		    }
		    &.correct {
		    	background-color: #96f58a !important;
		    }
		    &.incorrect {
		    	background-color: red !important;
		    }
		    &.disabled {
		    	opacity: 0.2;
		    }
		}
		.check-stage-button {
			position: absolute;
		    border-top-left-radius: 10px;
		    border-bottom-left-radius: 10px;
		    height: 72px;
		    width: 72px;
		    padding-top: 10px;
		    /* line-height: 32px; */
		    /* background-color: red; */
		    right: 0;
		    top: -100px;
		    text-align: center;
		    font-size: 20px;
		    border: 1px solid black;
		    border-right: none;
		}
	}
}