@import "../../helpers/styles/mixins.scss";

scene {
	.help-desk {
	    display: table;
		    /* padding-bottom: 15px; */
		    width: 100%;	
			.help-btn {
			width: 50px;
		    height: 50px;
		    border-radius: 50%;
		    text-align: center;
		    color: white;
		    background: $commonBgColor;
		    -webkit-box-shadow: 8px 8px 5px -3px #ccc !important;
		    box-shadow: 5px 5px 5px -3px #ccc !important;
			&.disabled {
				opacity: 0.2;
			}
			&.left {
				float: left;
				margin-right: 15px
			}
			&.right {
				float: right;
				line-height: 50px;
				text-align: center;
				font-size: 25px;
			}
			ion-icon {
		    	font-size: 1em;
		    }
		}
		.refresh {
			width: 50px;
		    height: 50px;
		    /* line-height: 50px; */
		    padding-top: 3px;
		    font-size: 34px;
		    text-align: center;
		    ion-icon {
		    	margin-top: 5px;
		    }
		}
		.people {
			font-size: 30px;
			line-height: 50px;
			ion-icon {
				/*margin-top: 9px;*/
			}
		}
		.fifty-fifty {
			padding: 8px;
			div {
				height: 16px;
				font-size: 16px;
				font-weight: bold;
				line-height: 16px;
			}
		}
		.fifty-fifty div:nth-child(1) {
			border-bottom: 1px solid;
			margin-top: 1px;
		}
		.check-stage-button {
			padding-top: 1px;
		}
	}
	.image-wrapper {
	    text-align: center;
	    max-width: 100%;
	    height: 200px;
	}
	.question-wrapper {
		display: table;
		width: 100%;
		height: 190px;
		background: white;
		text-align: center;
		position: relative;
		margin-top: 10px;
		border: 1px solid $commonBgColor;
		border-radius: $btnCommonBorderRadius;
		background-position: center center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-image: url('../assets/imgs/grid_diagonal.png');
		.question-title-wrapper {
			margin-top: -10px;
			.question-title {
				text-align: center;
			    background: white;
			    margin: auto;
			    display: inline;
			    margin-top: -1px;
			    border-bottom-left-radius: $btnCommonBorderRadius;
			    border-bottom-right-radius: $btnCommonBorderRadius;
			    padding: 4px 15px;
			}
		}
		.question-text {
    		font-size: 20px;
    		font-weight: bold;
    		padding: 57px 15px 0 15px;
    		color: $secondaryTextColor;
		}
	}
	ion-footer {
		padding: 16px;
		&::before {
			background: none;
		};
		.option {
			@extend %custom-block-view;
		    contain: none;
		    font-size: 16px;
		    text-align: left;
		    padding: 20px 15px;
		    color: $secondaryTextColor;
		    margin-top: 10px;
		    &.clicked {
		    	background-color: rgb(211, 211, 211);
		    	border: 1px solid rgb(211, 211, 211);
		    }
		    &.correct {
		    	background-color: #a1e6a1 !important;
		    	border: 1px solid #a1e6a1;
		    }
		    &.incorrect {
		    	background-color: #f7a6a6 !important;
		    	border: 1px solid #f7a6a6;
		    }
		    &.disabled {
		    	opacity: 0.2;
		    }
		}
	}
}