@import "../../../helpers/styles/mixins.scss";

info-modal {
	background-color: rgba(143, 143, 143, 0.6);
	padding: 20% 15px;
	.modal-body {
		background-color: white;
		padding: 10px;
		display: table;
		width: 100%;
		[name="md-close"] {
			position: absolute;
			top: 10px;
			right: 20px;
			color: red;
			font-size: 42px;
		}
		.level-price {
			@extend %custom-block-view;
			width: 100%;
		    text-align: center;
		    height: 26px;
		    line-height: 26px;
		    border: 1px solid black;
		    &.active {
		    	background: #aeecae;
		    }
		}
		.vertical-line-imitator {
			height: 8px;
			width: 50%;
			border-right: 1px solid black;
		}
		.modal-actions {
			
		}
	}
}