<div class="modal-body">
	<div class="modal-header">
		<span *ngIf='correct'>Правильна&nbsp;відповідь</span>
		<span *ngIf='!correct'>Неправильна&nbsp;відповідь</span>
	</div>
	<div class="modal-content" [ngClass]='{"correct": correct, "no-bottom-padding": !correct && states.forgetWrongAnswer}'>
		<div class="title">Ваш виграш</div>
		<div class="points">
			<span *ngIf='correct'>{{prize | numberFormatter}}</span>
			<span *ngIf='!correct'>0</span>
		</div>
		<div class="points-description" [hidden]="correct || states.forgetWrongAnswer">
			Ви відповіли неправильно, айбо можете
			<b>Поникати відео і продовжити гру</b>
			з цього місця де ви зараз
		</div>
	</div>
	<div class="modal-actions">
		<button class="take-prize secondary-button" (click)="dismiss('takePrize')" *ngIf="level.price !== 1000000 && correct">
			<span *ngIf='correct'>Забрати очки</span>
		</button>
		<button *ngIf='correct && level.price !== 1000000' class="go-forward primary-button" (click)="dismiss('goForward')">Продовжити</button>
		<button *ngIf='correct && level.price === 1000000' class="go-forward primary-button" (click)="dismiss('goToMillion')">Похваліт ня</button>
		<button *ngIf='!correct && !states.forgetWrongAnswer && !videoStartedLoading' class="call-to-watch-video primary-button" (click)="dismiss('watchVideoToContinue')">Поникати відео і продовжити гру </button>
		<div class="video-loading-notification" *ngIf="videoStartedLoading">
			Почекайте секунду, грузиться...
		</div>
		<button *ngIf='!correct && states.forgetWrongAnswer' class="go-home secondary-button" (click)="dismiss('goHome')">На головну</button>
		<button *ngIf='!correct' class="new-game secondary-button" (click)="dismiss('newGame')">Нова гра</button>
		<div class='home-page-link' *ngIf="!correct && !states.forgetWrongAnswer">
			<span (click)="dismiss('goHome')">
				<ion-icon name="arrow-round-back"></ion-icon> 
				<span class="txt">вернутися на головну</span>
			</span>
		</div>
	</div>
</div>
