scene-modal {
	background-color: rgba(143, 143, 143, 0.6);
	padding: 20% 15px;
	.modal-body {
		background-color: white;
		height: 100%;
		padding: 15px;
		.modal-header {
			height: 60px;
			text-align: center;
			font-weight: bold;
			font-size: 25px;
			line-height: 60px; 
		}
		.modal-content {
			height: calc(100% - 120px);
			line-height: calc(100% - 120px);
			padding-top: 45px;
			text-align: center;
			.title {
				padding-bottom: 15px;
				height: 30px;
				line-height: 30px;
			}
			.points {
				font-size: 80px;
				height: 100px;
				line-height: 100px;
			}
			.points-description {
				/*margin-top: 50px;*/
			}
		}
		.modal-actions {
			button {
				width: calc(50% - 7px);
				padding: 20px 0;
				font-size: 20px;
				&.take-prize {
					float: left;
				}
				&.go-forward,
				&.new-game {
					float: right;
				}
			}
		}
	}
}