@import "../../../helpers/styles/mixins.scss";

scene-modal {
	background-color: rgba(143, 143, 143, 0.6);
	padding: 10% 15px;
	.modal-body {
		@extend %custom-block-view;
		background-color: white;
		height: 100%;
		padding: 15px;
		.modal-header {
			height: 60px;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			line-height: 60px; 
		}
		.modal-content {
			height: calc(100% - 170px);
			line-height: calc(100% - 120px);
			padding-top: 45px;
			text-align: center;
			&.no-bottom-padding {
				height: calc(100% - 120px) !important;
			}
			.title {
				padding-bottom: 15px;
				height: 30px;
				line-height: 30px;
			}
			.points {
				font-size: 50px;
				height: 100px;
				line-height: 100px;
			}
			.points-description {
				color: #bb1205;
				line-height: 20px;
			}
			&.correct {
				height: calc(100% - 120px);
			}
		}
		.modal-actions {
			button {
				@extend %button-box-shadow;
				@extend %custom-block-view;
				width: calc(50% - 7px);
				padding: 0 10px;
				height: 60px;
				font-size: 17px;
				&.take-prize,
				&.go-home,
				&.new-game.secondary-button {
					float: left;
				}
				&.go-forward,
				&.new-game.primary-button {
					float: right;
				}
				&.call-to-watch-video {
					font-size: 12px;
					float: right;
				}
			}
			.video-loading-notification {
				float: right;
			    width: 48%;
			    text-align: center;
			    padding-top: 10px;
			}
			.home-page-link {
				height: 50px;
				clear: both;
				line-height: 64px;
				text-align: center;
				[name="arrow-round-back"] {
					font-size: 20px;
					vertical-align: middle;
				}
				.txt {
					text-decoration: underline;
				}
			}
		}
	}
}