@import "../helpers/styles/mixins.scss";

.vertical-align-content > *
{
	display: flex !important;
	align-content: center !important;
	align-items: center !important;
}
.scroll-content {
	overflow: hidden !important;
}
.footer-md::before {
	background-image: none !important;
}
.primary-button {
	background: $commonBgColor;
	border: 1px solid $commonBgColor;
	box-shadow: 8px 8px 5px -3px #ccc !important;
	color: white;
}
.secondary-button {
	background: $secondaryBgColor;
	border: 1px solid $secondaryBgColor;
	color: $secondaryTextColor;
    box-shadow: 8px 8px 5px -3px #ccc !important;
}