peoples-help-modal {
	background-color: rgba(143, 143, 143, 0.6);
	padding: 20% 15px;
	.modal-body {
		background-color: white;
		padding: 15px;
		.modal-header {
			height: 60px;
			text-align: center;
			font-weight: bold;
			font-size: 25px;
			line-height: 60px; 
		}
		.modal-content {
			text-align: center;
			padding: 30px 0;
			.title {
				padding-bottom: 15px;
				height: 30px;
				line-height: 30px;
			}
		}
		.modal-actions {
			display: table;
			width: 100%;
			button {
				width: calc(50% - 7px);
				padding: 20px 0;
				font-size: 20px;
				&.go-forward {
					float: right;
				}
			}
		}
	}
}